<!DOCTYPE html>
<html lang="en">
<%- include('../../partials/header.ejs') %>
<link rel="stylesheet" type="text/css" href="stylesheets/home.css">
<body>
<%- include('../../dashboard/navbar/navbar.ejs') %>
<%- include('../../dashboard/main/main.ejs') %>
<%- include('../../dashboard/about/about.ejs') %>
<%- include('../../dashboard/gameFeature/gameFeature.ejs') %>
<%- include('../../dashboard/systemReq/systemReq.ejs') %>
<%- include('../../dashboard/quotes/quotes.ejs') %>
<%- include('../../dashboard/footer/footer.ejs') %>
</body>
</html>